/node_modules
/public/hot
/public/storage
/public/store_file
/public/images_tmp
/public/cache
/storage/*.key
/storage/debugbar
/vendor
/mysql
/nginx
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.idea
.DS_Store
.gitkeep
._mysql
._*
/composer.lock
/public/sitemaps
/public/sitemap.xml
/.vscode
